#!/bin/rc -e
#s: git9/init.rc #
rfork ne
. /lib/git/common.rc

flagfmt='u:upstream upstream,b:branch branch'; args='name'
eval `''{auxrc/getflags $*} || exec auxrc/usage

dir=$1
if(~ $#dir 0)
        dir=.
if(~ $#branch 0)
        branch=master
if(test -e $dir/.git)
        die $dir/.git already exists
#s: [[init.rc]] set [[$name]] derived from [[$dir]] #
name=`{basename `{cleanname -d `{pwd} $dir}}
#e: [[init.rc]] set [[$name]] derived from [[$dir]] #
#s: [[init.rc]] check [[$upstream]] flag #
if(~ $#upstream 0){
        upstream=`{git/conf 'defaults "origin".baseurl'}
        if(! ~ $#upstream 0)
                upstream=$upstream/$name
}
#e: [[init.rc]] check [[$upstream]] flag #

mkdir -p $dir/.git/refs/^(heads remotes)
mkdir -p $dir/.git/^(fs objects)
>$dir/.git/config {
        echo '[core]'
        echo '  repositoryformatversion = p9.0'
        #s: [[init.rc]] set origin in [[.git/config]] #
        if(! ~ $#upstream 0){
                echo '[remote "origin"]'
                echo '  url = '$upstream
        }
        #e: [[init.rc]] set origin in [[.git/config]] #
        echo '[branch "'$branch'"]'
        echo '  remote = origin'
}
>$dir/.git/INDEX9
>$dir/.git/HEAD {
        echo ref: refs/heads/$branch
}
exit ''
#e: git9/init.rc #
