#!/bin/rc
#s: git9/revert.rc #
rfork en
. /lib/git/common.rc

gitup

flagfmt='c:query query' args='file ...'
if (! eval `{auxrc/getflags $*} || ~ $#* 0)
        exec auxrc/usage

if(~ $#query 0)
        query=HEAD
commit=`{git/query -p $query}

files=`$nl{cleanname -d $gitrel $* | drop $gitroot}
for(f in `$nl{git/walk -c -fRM -b $query $files}){
        mkdir -p `{basename -d $f}
        cp -x -- $commit/tree/$f $f
        touch -c $f
        git/add $f
}
exit ''

#e: git9/revert.rc #
