*.[58]
*.a[58]
[58].*
*.out

y.tab.c
y.tab.h
y.debug
y.output
x.tab.h
/sys/src/cmd/syscall/tab.h

root/386/bin/*
root/386/9pcf
root/386/init

# codegraph stuff
*.clang
*.clang2
graph_code.marshall
PFFF_DB.marshall
graph_code.marshall.opti

#tex: minitoc package
*.mtc*
*.maf

kernel/boot/libboot.a8

kernel/pc/init.h
kernel/pc/reboot.h
kernel/pc/apbootstrap.h
kernel/pc/errstr.h
kernel/pc/bootpcf.c
kernel/pc/pcf.c
kernel/pc/pcf.root.s
kernel/pc/pcf.rootc.c
kernel/pc/9pcf

kernel/bcm/bootpi.c
kernel/bcm/errstr.h
kernel/bcm/init.h
kernel/bcm/pi.c
kernel/bcm/pi.root.s
kernel/bcm/pi.rootc.c
kernel/bcm/reboot.h
/sys/src/cmd/._cp
/dosdisk.img
/kernel/conf/apbootstrap.h
/kernel/conf/init.h
/kernel/conf/pcf.c
/kernel/conf/pcf.root.s
/kernel/conf/pcf.rootc.c
/kernel/conf/reboot.h
/sys/src/9/pc/apbootstrap.h
/sys/src/9/pc/errstr.c
/sys/src/9/pc/init.h
/sys/src/9/pc/pcf.c
/sys/src/9/pc/pcf.root.s
/sys/src/9/pc/pcf.rootc.c
/sys/src/9/pc/reboot.h
/sys/src/9/pc/9pcf
/.DS_Store
/kernel/Kernel.pdf
/sys/src/9/pc/9qemu
/sys/src/9/pc/bootqemu.c
/sys/src/9/pc/qemu
/sys/src/9/pc/qemu.c
/sys/src/9/pc/qemu.root.s
/sys/src/9/pc/qemu.rootc.c
/ROOT/386/9qemu
/kernel/conf/qemu.c
/kernel/conf/qemu.rootc.c

lib_core/libc/9syscall/*.s
/facts.pl
/prolog_compiled_db
/CallingData.explain
/PointingData.explain
/facts.dl
/windows/Windows.pdf
