*.[58]
*.out
*.a[58]
[58].*

y.tab.c
y.tab.h
y.debug
y.output
x.tab.h
/sys/src/cmd/syscall/tab.h

root/386/bin/*
root/386/9pcf
root/386/init

# codegraph stuff
*.clang
*.clang2
sys/src/graph_code.marshall
/sys/src/PFFF_DB.marshall
/sys/src/graph_code.marshall.opti


/sys/src/9/boot/libboot.a8

/sys/src/9/pc/init.h
/sys/src/9/pc/reboot.h

/sys/src/9/pc/apbootstrap.h
/sys/src/9/pc/errstr.h

/sys/src/9/pc/bootpcf.c
/sys/src/9/pc/pcf.c
/sys/src/9/pc/pcf.root.s
/sys/src/9/pc/pcf.rootc.c

/sys/src/9/pc/9pcf

/sys/src/9/bcm/bootpi.c
/sys/src/9/bcm/errstr.h
/sys/src/9/bcm/init.h
/sys/src/9/bcm/pi.c
/sys/src/9/bcm/pi.root.s
/sys/src/9/bcm/pi.rootc.c
/sys/src/9/bcm/reboot.h
