# -*- sh -*-
# VARIABLES TO ADJUST
# either Linux, Cygwin, Plan9, or macOS 
HOST=Linux
# either pc (for a traditional x86 PC) or pi (for the raspberry pi)
TARGET=pc
# target architecture: 386 for pc, and arm for pi
objtype=386
