awk '
BEGIN {
    print "High earners:"
}

$4 > 70000 {
    print "-",$1,"(" $3 "):",$4
    total += $4
    count++
}

END {
    print ""
    print "Count:", count
    print "Total:", total
    print "Average:", total / count
}
' people.txt
