git/init hello
cd hello

touch foo.txt
touch bar.txt
git/add foo.txt
git/fs
# should just see foo.txt listed; bar.txt is not yet in
git/walk

# need to pass '.' at the end, otherwise "nothing to commit"
git/commit -m add1 .
git/add bar.txt
git/commit -m add2 .

git/branch
git/log

rm foo.txt
#TODO: does not seem to fully work
git/diff
