#s: rc/rcmain.rc #
# /lib/rc/rcmain, Plan 9 version
if(~ $#home 0) home=/
# space, tab, newline
if(~ $#ifs 0) ifs=' 	
'

switch($#prompt){
case 0
        prompt=('% ' '  ')
case 1
        prompt=($prompt '       ')
}
#s: [[rcmain.rc]] possibly set broken prompt #
if(~ $rcname ?.out) prompt=('broken! ' '        ')
#e: [[rcmain.rc]] possibly set broken prompt #

if(flag p) path=/bin
if not{
        finit
        if(~ $#path 0) path=(. /bin)
}

#s: [[rcmain.rc]] delete [[sigexit]] #
fn sigexit
#e: [[rcmain.rc]] delete [[sigexit]] #

#s: [[rcmain.rc]] if [[-c]] flag #
if(! ~ $#cflag 0){
        #s: [[rcmain.rc]] if [[-l]], source user's profile #
        if(flag l && /bin/test -r $home/lib/profile) . $home/lib/profile
        #e: [[rcmain.rc]] if [[-l]], source user's profile #
        status=''
        eval $cflag
}
#e: [[rcmain.rc]] if [[-c]] flag #
if not if(flag i){
        #s: [[rcmain.rc]] if [[-l]], source user's profile #
        if(flag l && /bin/test -r $home/lib/profile) . $home/lib/profile
        #e: [[rcmain.rc]] if [[-l]], source user's profile #
        status=''
        # if arguments, probably a script, source the script (and pass args)
        if(! ~ $#* 0) . $*
        # otherwise interactive shell! source stdin
        . -i '#d/0'
}
if not if(~ $#* 0) . '#d/0'
if not{
        status=''
        . $*
}
exit $status
#e: rc/rcmain.rc #
